/*   import Fonts  */
@font-face {
    font-family: "harpGrotesk-Medium";
    src: url("parallel/SharpGrotesk-Medium.woff");
}

@font-face {
    font-family: "workSans-Regular";
    src: url("parallel/WorkSans-Regular.woff");
}

@font-face {
    font-family: "WorkSans-Medium";
    src: url("parallel/WorkSans-Medium.woff");
}

@font-face {
    font-family: "WorkSans-SemiBold";
    src: url("parallel/WorkSans-SemiBold.woff");
}

/* Reset default Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Defining color variables to use */

:root {
    --Black: #000000 --Grey: #D2D2D2;
    --White: #ffffff;
    --Yellow: #FFD560;
    --Dark-grey: #979797;
    --Cream: #FFF7F1;
}

/* Container wrapper for the alignment */

.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* Flex class for display flex */

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

/* Primary heading  */

.primary-heading {
    font-size: 2rem;
    font-family: "harpGrotesk-Medium";
}

/* Secondary Heading */

.secondary-heading {
    font-size: 1.6rem;
    font-family: "harpGrotesk-Medium";
}

/* Primary button  */

.primary-button {
    padding: 14px 36px;
    border-radius: 8px;
    font-family: "WorkSans-Medium";
    font-size: 1.1rem;
}


/* Header Starts Here */

.navbar {
    padding: 16px 0;
}


nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-family: "WorkSans-Medium";
    font-size: 1.1rem;
    color: var(--Black);
    padding: 16px;
}

.navbar-right{
    gap: 0;
}

.navbar-right ul li {
    border-right: 2px solid var(--Dark-grey);
    padding-right: 32px;
}

.navbar-btn-left {
    border: none;
    background: transparent;
}

.btn {
    border: 1.5px solid black;
    background: var(--Yellow);
}

/* Header Ends Here */


/* Banner section starts here */

#banner {
    background: var(--Cream);
}

.banner-nav {
    justify-content: center;
    padding: 60px 0;
    gap: 15px;
}

.banner-nav li a {
    padding: 6px 12px;
    border-radius: 25px;
    border: 1px solid var(--Dark-grey);
    font-size: 1rem;

}

.banner-nav li a:hover {
    color: var(--Black);
    border: 1px solid black;
    background: var(--Yellow);
}

.banner-content {
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
}

.banner-content-right-textbox {
    width: 444px;
    position: absolute;
    top: 110px;
    right: 41px;
    line-height: 1.5;
}

.banner-content-mid-image {
    position: absolute;
    top: 44px;
    right: 452px;
    z-index: -1;

}

.banner-logo-primary{
    padding-top: 30px;
}

.sign-up-box {
    position: absolute;
    top: 341px;
    right: 32px;
}

.sign-up-box input {
    padding: 18px 20px;
    margin: 20px 0;
    border-radius: 8px;
    border: 1px solid black;
    width: 360px;
}

#email::placeholder {
    font-family: "workSans-Regular";
    font-size: 1.2rem;
}

/* Banner section Ends here */